<!DOCTYPE html>
<html lang="es">

<head>

    <meta charset="UTF-8">

    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>Sistema de Gestión de Reciclaje</title>

    <link rel="stylesheet" href="/static/css/estilos.css">

</head>

<body>

<header>

    <h1>♻ Sistema de Gestión Comunitaria de Reciclaje</h1>

    <nav>

        <a href="usuarios.html">Recicladores</a>

        <a href="centros.html">Centros de Acopio</a>

        <a href="entregas.html">Entregas</a>

        <a href="reportes.html">Reportes</a>

        <a href="login.html">Cerrar sesión</a>

    </nav>

</header>

<main>

    <!--
        Aquí irá el contenido de cada página.

        usuarios.html
        centros.html
        entregas.html
        reportes.html
    -->

</main>

<footer>

    <p>

        Universidad de Costa Rica

        <br>

        Desarrollo de Software III

        <br>

        Sistema de Gestión Comunitaria de Reciclaje

    </p>

</footer>

</body>

</html>