<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <title>Recycling Management</title>

    <link rel="stylesheet" href="/static/css/estilos.css">
</head>

<body>

<header>

    <h1>Sistema de Reciclaje Comunitario</h1>

    <nav>

        <a href="usuarios.html">Usuarios</a>

        <a href="centros.html">Centros</a>

        <a href="materiales.html">Materiales</a>

        <a href="entregas.html">Entregas</a>

        <a href="login.html">Salir</a>

    </nav>

</header>

<main>

</main>

<footer>

    Proyecto Desarrollo de Software III

</footer>

</body>

</html>