<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <title>Iniciar Sesión</title>

    <link rel="stylesheet" href="/static/css/estilos.css">
</head>
<body>

<div class="contenedor-login">

    <h1>Sistema de Reciclaje Comunitario</h1>

    <form id="loginForm">

        <label>ID del reciclador</label>
        <input
            type="text"
            id="recycler_id"
            placeholder="Ingrese su ID"
            required
        >

        <label>Contraseña</label>
        <input
            type="password"
            id="password"
            placeholder="Ingrese su contraseña"
            required
        >

        <button type="submit">
            Iniciar sesión
        </button>

    </form>

    <p id="mensaje"></p>

</div>

<script src="/static/js/login.js"></script>

</body>
</html>